$blue: #51E2F5;
$yellow: #FFF7AE;
$gold: #F6D167;
$orange: #FFB990;
$lightred: #EE6863;
$red: #CC0000;
$darkred: #460000;
$palered: #A28089;
$green: #4C7E4C;
$lightgreen: #9DF9EF;
$berry: #241571;
$purple: #A386D9;
