.Footer {
  height: 50px;
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  color: $red;
  // font-family: $fontSecondary;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;

  .FooterLinks {
    position: relative;
    top: 90%;
    text-align: center;

    .FooterLink {
      color: $red;
      line-height: 24px;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
